# 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
seasonData = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')
seasonData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY
0      A60  PRODUCT4    201402  71.0

# 데이터 타입 확인

In [3]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

# 데이터 타입 변환

### 데이터 프레임["칼럼명"] = 데이터 프레임["칼럼명"].astype(int / etc..)

In [4]:
seasonData["QTY"] = seasonData["QTY"].astype(float)

In [5]:
seasonData["REGIONID"] = seasonData["REGIONID"].astype(str)
seasonData["PRODUCT"] = seasonData["PRODUCT"].astype(str)
seasonData["YEARWEEK"] = seasonData["YEARWEEK"].astype(str)

### 변경된 데이터 타입 확인

In [6]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

# 원하는 칼럼만 조회하기

### 데이터프레임[ [ '칼럼명' ] ] -대괄호 두 개가 중요

In [7]:
seasonData[['REGIONID', 'PRODUCT']]

       REGIONID    PRODUCT
0           A60   PRODUCT4
1           A60  PRODUCT59
2           A60  PRODUCT34
3           A60  PRODUCT47
4           A60  PRODUCT56
5           A60  PRODUCT57
6           A60  PRODUCT12
7           A60   PRODUCT1
8           A60  PRODUCT33
9           A60  PRODUCT62
10          A37  PRODUCT58
11          A37  PRODUCT59
12          A37  PRODUCT34
13          A31  PRODUCT58
14          A31  PRODUCT59
15          A31  PRODUCT34
16          A04  PRODUCT58
17          A04  PRODUCT63
18          A04  PRODUCT15
19          A04   PRODUCT4
20          A04  PRODUCT16
21          A04  PRODUCT59
22          A04  PRODUCT34
23          A04  PRODUCT40
24          A04  PRODUCT47
25          A04  PRODUCT60
26          A04  PRODUCT56
27          A04  PRODUCT57
28          A04  PRODUCT12
29          A04   PRODUCT1
...         ...        ...
124628      A16  PRODUCT64
124629      A16  PRODUCT48
124630      A16  PRODUCT49
124631      A16  PRODUCT74
124632      A16  PRODUCT40
124633      A16  PRODUCT47
124634      A16  PRODUCT60
124635      A16  PRODUCT56
124636      A16  PRODUCT12
124637      A16   PRODUCT1
124638      A16  PRODUCT41
124639      A16  PRODUCT51
124640      A16  PRODUCT68
124641      A16  PRODUCT33
124642      A16  PRODUCT14
124643      A10   PRODUCT2
124644      A10  PRODUCT58
124645      A10  PRODUCT63
124646      A10  PRODUCT15
124647      A10   PRODUCT4
124648      A10  PRODUCT16
124649      A10  PRODUCT59
124650      A10  PRODUCT34
124651      A10  PRODUCT40
124652      A10  PRODUCT47
124653      A10  PRODUCT60
124654      A10  PRODUCT56
124655      A10  PRODUCT61
124656      A10  PRODUCT12
124657      A10   PRODUCT1

[124658 rows x 2 columns]

In [8]:
customer = pd.read_csv('../dataset/./customerdata.csv')
#불러온 CSV 파일을 데이터프레임에 저장.(변수 선언과 같다.)
customer.head(1)
#불러온 데이터가 데이터프레임에 잘 들어갔는지 확인 및 칼럼 확인

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566        4273.9    3          6.4    1.679181  Big-Screen-lover

In [9]:
# customer[['CUSTOMERCODE', 'STATENAME', 'GENDER', 'TOTAL_AMOUNT']]

# 인덱스로 데이터 조회하기

### 데이터프레임.iloc[a:b, c:d] -a행의 b인덱스, c행의 d인덱스

### 데이터프레임.iloc[a:b,[0:2]]-a행의 b인덱스, 0에서 2인덱스 자리

In [10]:
customer.iloc[0:5,[0,2]]

   CUSTID  EMI
0  A13566    3
1  A14219    2
2  A15312    2
3  A16605    2
4  B10634    2

In [11]:
csdataCoulmns = customer.columns
csdataCoulmns

Index(['CUSTID', 'AVERAGEPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE',
       'CUSTTYPE'],
      dtype='object')

In [12]:
csCodecolno = csdataCoulmns.get_loc("CUSTID")
stColNo = csdataCoulmns.get_loc("EMI")

# 데이터 정제하기(이상 데이터 정제)

## numpy 라이브러리 선언

In [13]:
import numpy as np

In [14]:
customer["PRODUCTAGE_NEW"] = np.where(customer["PRODUCTAGE"]< 1, 1,\
                                     np.where(customer["PRODUCTAGE"]< 2, 2,\
                                             np.where(customer["PRODUCTAGE"]< 3, 3,\
                                                     5)))
customer.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,3
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,3

# 불량 데이터 처리

### 주어진 csv 자료에서 QTY 마이너스 값을 0으로 변경한 자료를 QTY_NEW 칼럼에 생성하시오.

In [15]:
seasonData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [16]:
seasonData["QTY_NEW"] = np.where(seasonData["QTY"] < 0,0,seasonData["QTY"])

In [17]:
seasonData

       REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW
0           A60   PRODUCT4   201402      71.0      71.0
1           A60  PRODUCT59   201402   22275.0   22275.0
2           A60  PRODUCT34   201402    4463.0    4463.0
3           A60  PRODUCT47   201402       0.0       0.0
4           A60  PRODUCT56   201402      23.0      23.0
5           A60  PRODUCT57   201402      14.0      14.0
6           A60  PRODUCT12   201402    1186.0    1186.0
7           A60   PRODUCT1   201402       7.0       7.0
8           A60  PRODUCT33   201402     101.0     101.0
9           A60  PRODUCT62   201402     336.0     336.0
10          A37  PRODUCT58   201402       0.0       0.0
11          A37  PRODUCT59   201402   11492.0   11492.0
12          A37  PRODUCT34   201402     825.0     825.0
13          A31  PRODUCT58   201402       0.0       0.0
14          A31  PRODUCT59   201402     560.0     560.0
15          A31  PRODUCT34   201402     103.0     103.0
16          A04  PRODUCT58   201402       0.0       0.0
17          A04  PRODUCT63   201402     740.0     740.0
18          A04  PRODUCT15   201402     394.0     394.0
19          A04   PRODUCT4   201402    2550.0    2550.0
20          A04  PRODUCT16   201402       4.0       4.0
21          A04  PRODUCT59   201402   36549.0   36549.0
22          A04  PRODUCT34   201402    4773.0    4773.0
23          A04  PRODUCT40   201402     146.0     146.0
24          A04  PRODUCT47   201402       5.0       5.0
25          A04  PRODUCT60   201402       9.0       9.0
26          A04  PRODUCT56   201402     109.0     109.0
27          A04  PRODUCT57   201402    1195.0    1195.0
28          A04  PRODUCT12   201402   15028.0   15028.0
29          A04   PRODUCT1   201402    1319.0    1319.0
...         ...        ...      ...       ...       ...
124628      A16  PRODUCT64   201630     188.0     188.0
124629      A16  PRODUCT48   201630      16.0      16.0
124630      A16  PRODUCT49   201630       9.0       9.0
124631      A16  PRODUCT74   201630      18.0      18.0
124632      A16  PRODUCT40   201630     285.0     285.0
124633      A16  PRODUCT47   201630     155.0     155.0
124634      A16  PRODUCT60   201630    2491.0    2491.0
124635      A16  PRODUCT56   201630    2026.0    2026.0
124636      A16  PRODUCT12   201630   17067.0   17067.0
124637      A16   PRODUCT1   201630     168.0     168.0
124638      A16  PRODUCT41   201630       0.0       0.0
124639      A16  PRODUCT51   201630       0.0       0.0
124640      A16  PRODUCT68   201630       0.0       0.0
124641      A16  PRODUCT33   201630    3887.0    3887.0
124642      A16  PRODUCT14   201630      95.0      95.0
124643      A10   PRODUCT2   201630   12570.0   12570.0
124644      A10  PRODUCT58   201630    4461.0    4461.0
124645      A10  PRODUCT63   201630    4308.0    4308.0
124646      A10  PRODUCT15   201630       0.0       0.0
124647      A10   PRODUCT4   201630    3012.0    3012.0
124648      A10  PRODUCT16   201630     231.0     231.0
124649      A10  PRODUCT59   201630  231024.0  231024.0
124650      A10  PRODUCT34   201630   34436.0   34436.0
124651      A10  PRODUCT40   201630       0.0       0.0
124652      A10  PRODUCT47   201630       4.0       4.0
124653      A10  PRODUCT60   201630     824.0     824.0
124654      A10  PRODUCT56   201630     275.0     275.0
124655      A10  PRODUCT61   201630       0.0       0.0
124656      A10  PRODUCT12   201630   15021.0   15021.0
124657      A10   PRODUCT1   201630     568.0     568.0

[124658 rows x 5 columns]

# 데이터 통합

### 주어진 자료에서 YEAR, WEEK 칼럼을 새로 생성하여
### WEEK 칼럼에서 WEEK가 52 이하인 데이터만 조회하여
### refinderSelloutData 변수에 담으시오

In [18]:
seasonData["YEAR"] = ""
seasonData["WEEK"] = ""

seasonData["YEARWEEK"].astype(str)

seasonData["YEAR"] = seasonData.YEARWEEK.str[0:4]

seasonData["WEEK"] = seasonData.YEARWEEK.str[4:]

In [19]:
seasonData["WEEK"] = seasonData["WEEK"].astype(str)

In [20]:
refinedSelloutData = (seasonData["WEEK"].astype(int) <= 53)

In [21]:
refinedSelloutData.astype(str).head(1)

0    True
Name: WEEK, dtype: object

In [22]:
def refining(df):
    if df['productage']<1:
        return 1
    elif df['productage']<2:
        return 2
    else:
        return 5

In [23]:
customer2 = pd.read_csv('../dataset/./customerdata.csv')

In [24]:
# customer2["PRODUCTAGE_NEW2"] = customer2.apply(refining)

# 데이터 정렬하기

In [25]:
customer2.head(1)

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566        4273.9    3          6.4    1.679181  Big-Screen-lover

In [26]:
#sortKey 변수에 칼럼 Values를 저장.
sortKey = ["EMI", "DEVICECOUNT"]

In [27]:
#sortKey에 저장된 값을 간단하게 소트하여 따로 저장.
sortedData_1 = customer2.sort_values(sortKey)
sortedData_1

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
47   I17056   2963.370122    1          3.3    2.139196      Sleeping-dog
73   O13586   2980.229239    1          3.3    2.038603      Sleeping-dog
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
57   K13300   3159.839204    1          3.7    1.960833      Sleeping-dog
86   Q16449   3048.308860    1          3.8    2.369758      Sleeping-dog
46   I14835   3374.091339    1          4.0    2.749678      Sleeping-dog
65   M16452   3353.537290    1          4.0    1.940357      Sleeping-dog
56   K10712   3419.462596    1          4.4    2.825790      Sleeping-dog
72   O13037   3398.216334    1          4.5    2.994395      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
68   N14862   2390.083736    1          6.3    1.000000        Early-bird
112  T11116   2890.703076    2          3.0    2.303318      Sleeping-dog
41   H16434   3145.232489    2          3.5    1.865857      Sleeping-dog
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
102  S14878   3201.699741    2          3.9    2.095610      Sleeping-dog
108  S17893   2857.684730    2          3.9    2.679795      Sleeping-dog
119  U16637   3596.304713    2          3.9    2.308070      Sleeping-dog
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
103  S15191   3041.973927    2          4.1    2.820039      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
83   Q13484   3418.911355    2          4.2    2.770609      Sleeping-dog
111  T10762   3572.369016    2          4.2    2.938848      Sleeping-dog
70   O10236   3706.655001    2          4.3    2.708959      Sleeping-dog
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
34   G16681   3216.438150    2          4.4    2.254282      Sleeping-dog
..      ...           ...  ...          ...         ...               ...
55   J18640   3227.823130    2          6.6    0.900000        Early-bird
61   L16344   3232.620438    2          6.6    1.100000        Early-bird
66   M17538   4111.600000    2          6.6    2.012517  Big-Screen-lover
74   O16407   3687.228512    2          6.6    1.300000        Early-bird
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
38   H10188   4020.245162    2          6.7    0.900000        Early-bird
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
105  S15966   2797.678314    2          6.9    0.900000        Early-bird
52   J15083   2811.265932    3          6.0    0.900000        Early-bird
107  S17396   3895.200000    3          6.1    2.055707  Big-Screen-lover
95   R16364   3592.353540    3          6.2    0.900000        Early-bird
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
45   I12899   3018.895637    3          6.4    0.900000        Early-bird
53   J16445   3041.848186    3          6.4    0.800000        Early-bird
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
36   G18402   3402.199381    3          6.5    1.000000        Early-bird
40   H16326   3988.935304    3          6.5    0.900000        Early-bird
51   J10809   3676.135627    3          6.5    0.800000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
33   G16437   3787.328898    3          6.7    1.000000        Early-bird
60   L13892   3263.515145    3          6.7    1.100000        Early-bird
113  T11473   4165.700000    3          6.7    1.780674  Big-Screen-lover
67   N13273   3839.694732    3          6.9    1.100000        Early-bird

[150 rows x 6 columns]

In [28]:
#따로 sortKey를 지정하지 않고 직접 값을 지정
sortedData_2 = customer2.sort_values(["EMI", "DEVICECOUNT"])

In [29]:
sortedData_2

     CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
47   I17056   2963.370122    1          3.3    2.139196      Sleeping-dog
73   O13586   2980.229239    1          3.3    2.038603      Sleeping-dog
140  Y12458   2976.211190    1          3.5    2.199677      Sleeping-dog
57   K13300   3159.839204    1          3.7    1.960833      Sleeping-dog
86   Q16449   3048.308860    1          3.8    2.369758      Sleeping-dog
46   I14835   3374.091339    1          4.0    2.749678      Sleeping-dog
65   M16452   3353.537290    1          4.0    1.940357      Sleeping-dog
56   K10712   3419.462596    1          4.4    2.825790      Sleeping-dog
72   O13037   3398.216334    1          4.5    2.994395      Sleeping-dog
11   C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover
68   N14862   2390.083736    1          6.3    1.000000        Early-bird
112  T11116   2890.703076    2          3.0    2.303318      Sleeping-dog
41   H16434   3145.232489    2          3.5    1.865857      Sleeping-dog
120  U16894   3234.465609    2          3.6    2.606419      Sleeping-dog
102  S14878   3201.699741    2          3.9    2.095610      Sleeping-dog
108  S17893   2857.684730    2          3.9    2.679795      Sleeping-dog
119  U16637   3596.304713    2          3.9    2.308070      Sleeping-dog
1    A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
121  U17547   3313.905655    2          4.0    2.448368      Sleeping-dog
122  U17748   3394.152840    2          4.0    2.185742      Sleeping-dog
103  S15191   3041.973927    2          4.1    2.820039      Sleeping-dog
124  V16516   3149.259875    2          4.1    2.410823      Sleeping-dog
128  W10832   3527.360507    2          4.1    2.136971      Sleeping-dog
4    B10634   3391.074215    2          4.2    2.453656      Sleeping-dog
20   E16075   3418.048887    2          4.2    2.771469      Sleeping-dog
83   Q13484   3418.911355    2          4.2    2.770609      Sleeping-dog
111  T10762   3572.369016    2          4.2    2.938848      Sleeping-dog
70   O10236   3706.655001    2          4.3    2.708959      Sleeping-dog
136  X14259   3481.314549    2          4.3    2.528063      Sleeping-dog
34   G16681   3216.438150    2          4.4    2.254282      Sleeping-dog
..      ...           ...  ...          ...         ...               ...
55   J18640   3227.823130    2          6.6    0.900000        Early-bird
61   L16344   3232.620438    2          6.6    1.100000        Early-bird
66   M17538   4111.600000    2          6.6    2.012517  Big-Screen-lover
74   O16407   3687.228512    2          6.6    1.300000        Early-bird
125  V16704   2605.631083    2          6.6    0.900000        Early-bird
143  Z12343   3498.896985    2          6.6    0.900000        Early-bird
18   E10778   4165.700000    2          6.7    2.122257  Big-Screen-lover
38   H10188   4020.245162    2          6.7    0.900000        Early-bird
149  Z19835   3326.526183    2          6.7    1.200000        Early-bird
15   D15289   4165.700000    2          6.9    2.911016  Big-Screen-lover
105  S15966   2797.678314    2          6.9    0.900000        Early-bird
52   J15083   2811.265932    3          6.0    0.900000        Early-bird
107  S17396   3895.200000    3          6.1    2.055707  Big-Screen-lover
95   R16364   3592.353540    3          6.2    0.900000        Early-bird
135  X13390   2947.543982    3          6.3    1.100000        Early-bird
0    A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
45   I12899   3018.895637    3          6.4    0.900000        Early-bird
53   J16445   3041.848186    3          6.4    0.800000        Early-bird
142  Z11525   3259.018704    3          6.4    0.900000        Early-bird
27   F17131   3179.708359    3          6.5    1.100000        Early-bird
36   G18402   3402.199381    3          6.5    1.000000        Early-bird
40   H16326   3988.935304    3          6.5    0.900000        Early-bird
51   J10809   3676.135627    3          6.5    0.800000        Early-bird
126  V18566   3527.701867    3          6.5    0.900000        Early-bird
130  W13404   4296.873743    3          6.5    1.100000        Early-bird
146  Z13534   3662.437527    3          6.6    0.900000        Early-bird
33   G16437   3787.328898    3          6.7    1.000000        Early-bird
60   L13892   3263.515145    3          6.7    1.100000        Early-bird
113  T11473   4165.700000    3          6.7    1.780674  Big-Screen-lover
67   N13273   3839.694732    3          6.9    1.100000        Early-bird

[150 rows x 6 columns]

In [30]:
customerData = pd.read_csv('../dataset/./customerdata.csv')

In [31]:
meanValue = customerData.groupby(["CUSTTYPE", "EMI"], as_index=True).mean()
print(meanValue)
meanValue = meanValue.reset_index

                      AVERAGEPRICE  DEVICECOUNT  PRODUCTAGE
CUSTTYPE         EMI
Big-Screen-lover 1     3246.000000     5.000000    1.891624
                 2     3535.317391     5.508696    2.223247
                 3     4111.600000     6.400000    1.838520
Early-bird       1     2390.083736     6.300000    1.000000
                 2     3232.445885     6.460606    0.936364
                 3     3455.966035     6.475000    0.962500
Sleeping-dog     1     3185.918464     3.833333    2.357587
                 2     3504.298670     4.353659    2.724274

In [32]:
#seasonData의 ["REGIONID", "PRODUCT"] 두 가지 칼럼을 그룹으로 묶어 mean(전체평균),
#std(표준편차)를 구한 것.
groupData2 = seasonData.groupby(["REGIONID", "PRODUCT"]).\
agg(['mean', 'std'])['QTY_NEW']
groupData2 = groupData2.reset_index

In [33]:
# groupData

In [34]:
seasonData.reset_index

<bound method DataFrame.reset_index of        REGIONID    PRODUCT YEARWEEK       QTY   QTY_NEW  YEAR WEEK
0           A60   PRODUCT4   201402      71.0      71.0  2014   02
1           A60  PRODUCT59   201402   22275.0   22275.0  2014   02
2           A60  PRODUCT34   201402    4463.0    4463.0  2014   02
3           A60  PRODUCT47   201402       0.0       0.0  2014   02
4           A60  PRODUCT56   201402      23.0      23.0  2014   02
5           A60  PRODUCT57   201402      14.0      14.0  2014   02
6           A60  PRODUCT12   201402    1186.0    1186.0  2014   02
7           A60   PRODUCT1   201402       7.0       7.0  2014   02
8           A60  PRODUCT33   201402     101.0     101.0  2014   02
9           A60  PRODUCT62   201402     336.0     336.0  2014   02
10          A37  PRODUCT58   201402       0.0       0.0  2014   02
11          A37  PRODUCT59   201402   11492.0   11492.0  2014   02
12          A37  PRODUCT34   201402     825.0     825.0  2014   02
13          A31  PRODUCT58   201402       0.0       0.0  2014   02
14          A31  PRODUCT59   201402     560.0     560.0  2014   02
15          A31  PRODUCT34   201402     103.0     103.0  2014   02
16          A04  PRODUCT58   201402       0.0       0.0  2014   02
17          A04  PRODUCT63   201402     740.0     740.0  2014   02
18          A04  PRODUCT15   201402     394.0     394.0  2014   02
19          A04   PRODUCT4   201402    2550.0    2550.0  2014   02
20          A04  PRODUCT16   201402       4.0       4.0  2014   02
21          A04  PRODUCT59   201402   36549.0   36549.0  2014   02
22          A04  PRODUCT34   201402    4773.0    4773.0  2014   02
23          A04  PRODUCT40   201402     146.0     146.0  2014   02
24          A04  PRODUCT47   201402       5.0       5.0  2014   02
25          A04  PRODUCT60   201402       9.0       9.0  2014   02
26          A04  PRODUCT56   201402     109.0     109.0  2014   02
27          A04  PRODUCT57   201402    1195.0    1195.0  2014   02
28          A04  PRODUCT12   201402   15028.0   15028.0  2014   02
29          A04   PRODUCT1   201402    1319.0    1319.0  2014   02
...         ...        ...      ...       ...       ...   ...  ...
124628      A16  PRODUCT64   201630     188.0     188.0  2016   30
124629      A16  PRODUCT48   201630      16.0      16.0  2016   30
124630      A16  PRODUCT49   201630       9.0       9.0  2016   30
124631      A16  PRODUCT74   201630      18.0      18.0  2016   30
124632      A16  PRODUCT40   201630     285.0     285.0  2016   30
124633      A16  PRODUCT47   201630     155.0     155.0  2016   30
124634      A16  PRODUCT60   201630    2491.0    2491.0  2016   30
124635      A16  PRODUCT56   201630    2026.0    2026.0  2016   30
124636      A16  PRODUCT12   201630   17067.0   17067.0  2016   30
124637      A16   PRODUCT1   201630     168.0     168.0  2016   30
124638      A16  PRODUCT41   201630       0.0       0.0  2016   30
124639      A16  PRODUCT51   201630       0.0       0.0  2016   30
124640      A16  PRODUCT68   201630       0.0       0.0  2016   30
124641      A16  PRODUCT33   201630    3887.0    3887.0  2016   30
124642      A16  PRODUCT14   201630      95.0      95.0  2016   30
124643      A10   PRODUCT2   201630   12570.0   12570.0  2016   30
124644      A10  PRODUCT58   201630    4461.0    4461.0  2016   30
124645      A10  PRODUCT63   201630    4308.0    4308.0  2016   30
124646      A10  PRODUCT15   201630       0.0       0.0  2016   30
124647      A10   PRODUCT4   201630    3012.0    3012.0  2016   30
124648      A10  PRODUCT16   201630     231.0     231.0  2016   30
124649      A10  PRODUCT59   201630  231024.0  231024.0  2016   30
124650      A10  PRODUCT34   201630   34436.0   34436.0  2016   30
124651      A10  PRODUCT40   201630       0.0       0.0  2016   30
124652      A10  PRODUCT47   201630       4.0       4.0  2016   30
124653      A10  PRODUCT60   201630     824.0     824.0  2016   30
124654      A10  PRODUCT56   201630     275.0     275.0  2016   30
124655      A10  PRODUCT61   201630       0.0       0.0  2016   30
124656      A10  PRODUCT12   201630   15021.0   15021.0  2016   30
124657      A10   PRODUCT1   201630     568.0     568.0  2016   30

[124658 rows x 7 columns]>

In [35]:
groupKey = ["REGIONID", "PRODUCT"]

In [36]:
groupData = seasonData.groupby(groupKey).\
agg(['mean', 'std'])["QTY_NEW"]

In [37]:
groupData

                             mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131
         PRODUCT14   17934.738854    9402.640836
         PRODUCT15    4759.554140    1528.260828
         PRODUCT16    1392.394904     734.344988
         PRODUCT19    3335.140127     996.017547
         PRODUCT2    22769.891720   23307.183239
         PRODUCT20      63.254777      75.729859
         PRODUCT33   11919.828025    6300.941637
         PRODUCT34  108633.229299  117445.576337
         PRODUCT4    25851.547771   32905.547789
         PRODUCT47   10998.159236    8243.442040
         PRODUCT56    6296.229299    1832.616295
         PRODUCT57    6804.643312    1391.225843
         PRODUCT58   27346.216561   28091.461510
         PRODUCT59  642760.585987  180794.220476
         PRODUCT6      807.745223    3259.556767
         PRODUCT60       0.923567       2.058570
         PRODUCT62   11378.993631    5731.819330
         PRODUCT63   47715.101911   34580.487660
         PRODUCT7     2080.101911    1302.436879
         PRODUCT75   30013.961783    9336.409864
         PRODUCT8      186.719745     160.538710
A02      PRODUCT1      155.331210     146.356580
         PRODUCT12    8995.910828    7315.563434
         PRODUCT14    1797.044586     685.720754
         PRODUCT16      23.528662      57.131154
...                           ...            ...
A65      PRODUCT1       62.388535      41.711563
         PRODUCT12    1114.828025     652.368880
         PRODUCT14      16.847134      15.899591
         PRODUCT33     122.942675      55.760390
         PRODUCT34    1780.127389    1524.126348
         PRODUCT40       9.554140      10.209595
         PRODUCT47      23.089172      20.011656
         PRODUCT56      88.203822      28.963226
         PRODUCT57      91.165605      39.983947
         PRODUCT58     181.369427     197.959860
         PRODUCT59   12114.452229    5817.423758
         PRODUCT60      82.159236      25.452195
         PRODUCT62     187.605096      56.698229
A66      PRODUCT34     176.936306     281.946523
         PRODUCT58       4.789809       8.564261
         PRODUCT59    3788.566879    2205.732553
A67      PRODUCT34     703.484076     349.442589
         PRODUCT58      40.796178      62.086141
         PRODUCT59   21489.286624    6434.134741
A68      PRODUCT34     290.184713     179.060469
         PRODUCT58       1.649682       4.251495
         PRODUCT59    7785.178344    5578.579027
A69      PRODUCT34     166.184713     203.227289
         PRODUCT58       4.611465       5.921116
         PRODUCT59    8320.515924    6085.234172
A70      PRODUCT34    2165.585987    1479.518945
         PRODUCT58      61.496815      67.393280
         PRODUCT59   69471.617834   35908.174284
A77      PRODUCT1     2890.745223     940.912186
         PRODUCT12    3473.324841    1687.580677

[794 rows x 2 columns]

In [38]:
groupData.reset_index

<bound method DataFrame.reset_index of                              mean            std
REGIONID PRODUCT
A00      PRODUCT34     132.445860     154.867743
         PRODUCT58     105.235669     273.435108
         PRODUCT59   36086.547771   15192.174914
A01      PRODUCT1     5716.726115    3704.948589
         PRODUCT12  197052.777070  198866.717131
         PRODUCT14   17934.738854    9402.640836
         PRODUCT15    4759.554140    1528.260828
         PRODUCT16    1392.394904     734.344988
         PRODUCT19    3335.140127     996.017547
         PRODUCT2    22769.891720   23307.183239
         PRODUCT20      63.254777      75.729859
         PRODUCT33   11919.828025    6300.941637
         PRODUCT34  108633.229299  117445.576337
         PRODUCT4    25851.547771   32905.547789
         PRODUCT47   10998.159236    8243.442040
         PRODUCT56    6296.229299    1832.616295
         PRODUCT57    6804.643312    1391.225843
         PRODUCT58   27346.216561   28091.461510
         PRODUCT59  642760.585987  180794.220476
         PRODUCT6      807.745223    3259.556767
         PRODUCT60       0.923567       2.058570
         PRODUCT62   11378.993631    5731.819330
         PRODUCT63   47715.101911   34580.487660
         PRODUCT7     2080.101911    1302.436879
         PRODUCT75   30013.961783    9336.409864
         PRODUCT8      186.719745     160.538710
A02      PRODUCT1      155.331210     146.356580
         PRODUCT12    8995.910828    7315.563434
         PRODUCT14    1797.044586     685.720754
         PRODUCT16      23.528662      57.131154
...                           ...            ...
A65      PRODUCT1       62.388535      41.711563
         PRODUCT12    1114.828025     652.368880
         PRODUCT14      16.847134      15.899591
         PRODUCT33     122.942675      55.760390
         PRODUCT34    1780.127389    1524.126348
         PRODUCT40       9.554140      10.209595
         PRODUCT47      23.089172      20.011656
         PRODUCT56      88.203822      28.963226
         PRODUCT57      91.165605      39.983947
         PRODUCT58     181.369427     197.959860
         PRODUCT59   12114.452229    5817.423758
         PRODUCT60      82.159236      25.452195
         PRODUCT62     187.605096      56.698229
A66      PRODUCT34     176.936306     281.946523
         PRODUCT58       4.789809       8.564261
         PRODUCT59    3788.566879    2205.732553
A67      PRODUCT34     703.484076     349.442589
         PRODUCT58      40.796178      62.086141
         PRODUCT59   21489.286624    6434.134741
A68      PRODUCT34     290.184713     179.060469
         PRODUCT58       1.649682       4.251495
         PRODUCT59    7785.178344    5578.579027
A69      PRODUCT34     166.184713     203.227289
         PRODUCT58       4.611465       5.921116
         PRODUCT59    8320.515924    6085.234172
A70      PRODUCT34    2165.585987    1479.518945
         PRODUCT58      61.496815      67.393280
         PRODUCT59   69471.617834   35908.174284
A77      PRODUCT1     2890.745223     940.912186
         PRODUCT12    3473.324841    1687.580677

[794 rows x 2 columns]>

# 칼럼명 변경하기

In [39]:
groupData.rename(columns = {"mean":"QTY_MEAN"}, inplace = True)

In [40]:
groupData.rename(columns = {"std":"QTY_STD"}, inplace = True)

In [41]:
groupData = groupData.drop(["MEAN"],axis = 1)

ValueError: labels ['MEAN'] not contained in axis

In [ ]:
groupData = groupData.reset_index()

In [ ]:
groupData.head()

In [ ]:
import math
order = 5
suborder = math.floor(order/2)
suborder

# 데이터 정렬

In [ ]:
sortKey = ["REGIONID", "PRODUCT", "YEAR", "WEEK"]

sortedData = mergedData.sort_values(sortKey)

# rolling 함수 사용

In [ ]:
sortedData["TEST"] = sortedData["QTY_NEW"].rolling(window = 13, min_periods=1,\
                                                    center = True).mean()

In [ ]:
sortedData.head(13)

# 데이타 프레임 합치기

In [ ]:
regionMasterData = pd.read_csv('../dataset/kopo_region_mst.csv')
selectExample = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')

In [ ]:
mergeResult = pd.merge(selectExample, regionMasterData,\
                      left_on = "REGIONID", right_on = "REGIONID", how = "left")\
[["REGIONID", "REGIONNAME", "PRODUCT", "YEARWEEK", "QTY"]]

# 0404 Quiz 두 개의 데이터 프레임 합치기

In [ ]:
mergedData = pd.merge(seasonData, groupData, \
                     on = ["REGIONID","PRODUCT"], how = "left")\
[["REGIONID","PRODUCT","YEAR","WEEK","QTY_NEW","QTY_MEAN"]]

# 0404 Quiz 합친 데이터 프레임 정렬하기

In [ ]:
sortKey = ["REGIONID", "PRODUCT", "YEAR", "WEEK"]

sortedData = mergedData.sort_values(sortKey)

In [ ]:
sortedData.head()

# 0411 database

# 라이브러리 선언(numpy, pandas)

In [74]:
import pandas as pd

In [2]:
import numpy as np

## seasonData 불러오기

In [4]:
seasonData = pd.read_csv('../dataset/kopo_channel_seasonality_new.csv')

## seasonData QTY에서 음수 값 제거 하고 NEW_QTY에 담기

In [5]:
seasonData["QTY_NEW"] = np.where(seasonData["QTY"] < 0,0,seasonData["QTY"])

In [6]:
seasonData.head(1)

  REGIONID   PRODUCT  YEARWEEK   QTY  QTY_NEW
0      A60  PRODUCT4    201402  71.0     71.0

## refindData에 seasonData의 YEARWEEK에서 53주차 없애서 담기

In [27]:
refindData = seasonData[seasonData.YEARWEEK % 100 < 53]

In [28]:
refindData["WEEK"] = seasonData["YEARWEEK"]%100

C:\Users\SMART-20\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
refindData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW  WEEK
0      A60   PRODUCT4    201402     71.0     71.0     2
1      A60  PRODUCT59    201402  22275.0  22275.0     2
2      A60  PRODUCT34    201402   4463.0   4463.0     2
3      A60  PRODUCT47    201402      0.0      0.0     2
4      A60  PRODUCT56    201402     23.0     23.0     2

In [30]:
refindData.max()

REGIONID            A77
PRODUCT        PRODUCT8
YEARWEEK         201652
QTY         1.66321e+06
QTY_NEW     1.66321e+06
WEEK                 52
dtype: object

In [21]:
refindData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
QTY_NEW     float64
WEEK          int64
dtype: object

In [22]:
refindData["WEEK"] = refindData[refindData.WEEK < 53]

In [ ]:
refindData.head()

## seasonData["YEARWEEK"]를 YEAR와 WEEK로 나누어서 각각 칼럼 생성하여 담기

In [ ]:
seasonData["YEAR"] = round(seasonData["YEARWEEK"]/100)

In [ ]:
seasonData["WEEK"] = seasonData["YEARWEEK"]%100

## year와 week 값을 자동으로 추출해주는 함수 만들기

In [31]:
# 교수님이 주신 예제를 함수로 만들어보았다.
def customFunction(inputColumn):
    yearValue = inputColumn/100
    return int(yearValue)

In [32]:
# 교수님이 주신 예제를 응용해서 week값을 추출하도록 만들어보았다.
def customFunction2(inputColumn):
    weekValue = inputColumn%100
    return weekValue

In [75]:
# 나만의 방법으로 year값을 추출하도록 만들어보았다.
def myCustomFunction(inputCoulmn):
    inputCoulmn = ""
    yearValue = inputCoulmn[0:4]
    return int(yearValue)

In [76]:
#나만의 방법으로 week값을 추출하도록 만들어보았다.
def myCustomFunction2(inputCoulmn):
    inputCoulmn = ""
    weekValue = inputCoulmn[4: ]
    return weekValue

### 교수님의 예제로 만든 함수를 사용해보았다

In [33]:
seasonData["YEAR"] = seasonData["YEARWEEK"].apply(customFunction)

In [34]:
seasonData["WEEK"] = seasonData["YEARWEEK"].apply(customFunction2)

In [35]:
seasonData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW  YEAR  WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014     2
1      A60  PRODUCT59    201402  22275.0  22275.0  2014     2
2      A60  PRODUCT34    201402   4463.0   4463.0  2014     2
3      A60  PRODUCT47    201402      0.0      0.0  2014     2
4      A60  PRODUCT56    201402     23.0     23.0  2014     2

### 내가 만든 함수를 사용해보았다

In [77]:
seasonData["YEAR"] = seasonData["YEARWEEK"].apply(myCustomFunction)

ValueError: invalid literal for int() with base 10: ''

In [78]:
seasonData["WEEK"] = seasonData["YEARWEEK"].apply(myCustomFunction2)

In [79]:
seasonData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  QTY_NEW  YEAR WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014
1      A60  PRODUCT59    201402  22275.0  22275.0  2014
2      A60  PRODUCT34    201402   4463.0   4463.0  2014
3      A60  PRODUCT47    201402      0.0      0.0  2014
4      A60  PRODUCT56    201402     23.0     23.0  2014

## 정렬을 해보았다

In [36]:
sortKey = ["REGIONID", "PRODUCT", "YEARWEEK"]

In [37]:
sortedData = seasonData.sort_values(sortKey)
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR  WEEK
298       A00  PRODUCT34    201401  661.0    661.0  2014     1
1757      A00  PRODUCT34    201402  679.0    679.0  2014     2
3125      A00  PRODUCT34    201403  578.0    578.0  2014     3
205       A00  PRODUCT34    201404  532.0    532.0  2014     4
4369      A00  PRODUCT34    201405  516.0    516.0  2014     5

## 정렬한 데이타프레임을 인덱스 정리 해보았다

In [38]:
stepData = sortedData.reset_index(drop=True)
stepData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR  WEEK
0      A00  PRODUCT34    201401  661.0    661.0  2014     1
1      A00  PRODUCT34    201402  679.0    679.0  2014     2
2      A00  PRODUCT34    201403  578.0    578.0  2014     3
3      A00  PRODUCT34    201404  532.0    532.0  2014     4
4      A00  PRODUCT34    201405  516.0    516.0  2014     5

## rolling 함수를 사용해보자

### 1. 기본 이동평균 함수
### *mean() = 평균구하기

In [39]:
stepData["MA"] = stepData.QTY_NEW.rolling(window = 15, center = True, min_periods = 1).mean()
stepData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR  WEEK          MA
0      A00  PRODUCT34    201401  661.0    661.0  2014     1  520.000000
1      A00  PRODUCT34    201402  679.0    679.0  2014     2  514.444444
2      A00  PRODUCT34    201403  578.0    578.0  2014     3  516.800000
3      A00  PRODUCT34    201404  532.0    532.0  2014     4  503.363636
4      A00  PRODUCT34    201405  516.0    516.0  2014     5  490.750000

# 데이터 저장하기

In [ ]:
stepData.to_csv("./result.csv")

In [ ]:
pwd

# groupby 사용해보기

In [42]:
filteredData = stepData[(stepData.REGIONID == 'A00') & (stepData.PRODUCT =="PRODUCT34")]

In [43]:
filteredData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR  WEEK          MA
0      A00  PRODUCT34    201401  661.0    661.0  2014     1  520.000000
1      A00  PRODUCT34    201402  679.0    679.0  2014     2  514.444444
2      A00  PRODUCT34    201403  578.0    578.0  2014     3  516.800000
3      A00  PRODUCT34    201404  532.0    532.0  2014     4  503.363636
4      A00  PRODUCT34    201405  516.0    516.0  2014     5  490.750000

In [62]:
groupKey = ["REGIONID", "PRODUCT", "YEAR"]

In [63]:
filteredData = filteredData.groupby(groupKey)[["QTY_NEW"]].mean()

In [64]:
filteredData.head(3)

                            QTY_NEW
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014  275.961538
                   2015   85.698113
                   2016   36.576923

In [47]:
groupResult = filteredData.reset_index()

In [48]:
groupResult

  REGIONID    PRODUCT  YEAR     QTY_NEW
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   85.698113
2      A00  PRODUCT34  2016   36.576923

In [65]:
groupResult.columns = ["REGIONID", "PRODUCT", "YEAR", "GROUP"]

In [66]:
groupResult.head()

  REGIONID    PRODUCT  YEAR       GROUP
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   85.698113
2      A00  PRODUCT34  2016   36.576923

In [67]:
stepData.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  QTY_NEW  YEAR  WEEK          MA
0      A00  PRODUCT34    201401  661.0    661.0  2014     1  520.000000
1      A00  PRODUCT34    201402  679.0    679.0  2014     2  514.444444
2      A00  PRODUCT34    201403  578.0    578.0  2014     3  516.800000
3      A00  PRODUCT34    201404  532.0    532.0  2014     4  503.363636
4      A00  PRODUCT34    201405  516.0    516.0  2014     5  490.750000

# join을 해보았다

In [ ]:
# mergedData = pd.merge(seasonData, groupData, \
#                      on = ["REGIONID","PRODUCT"], how = "left")\
# [["REGIONID","PRODUCT","YEAR","WEEK","QTY_NEW","QTY_MEAN"]]

In [123]:
mergeData = pd.merge(stepData, groupResult, \
                    on = ["REGIONID", "PRODUCT", "YEAR"], how = "left")\

# 이전에 에러가 난 이유는 합치는 두 데이타프레임에 같은 이름의 다른 값을 가진 칼럼이 존재해서 그 이름으로 합치려 할 경우 컴퓨터가 제대로
# 구분을 하지 못 해 에러를 일으킨다.
#'[QTY_NEW]' NOT IN INDEX

In [124]:
mergeData.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,GROUP
0,A00,PRODUCT34,201401,661.0,661.0,2014,1,520.000000,275.961538
1,A00,PRODUCT34,201402,679.0,679.0,2014,2,514.444444,275.961538
2,A00,PRODUCT34,201403,578.0,578.0,2014,3,516.800000,275.961538
3,A00,PRODUCT34,201404,532.0,532.0,2014,4,503.363636,275.961538
4,A00,PRODUCT34,201405,516.0,516.0,2014,5,490.750000,275.961538

### 그룹 바이 함수 만들기

In [125]:
groupkey = ["REGIONID", "PRODUCT"]

In [126]:
groupDataSet = mergeData.groupby(groupkey)
#groupDataSet에 mergeData를 groupKey로 묶은 그룹바이를 저장한다.

In [127]:
groupDataSet.head()
#그룹바이한 것 확인. 마지막 수가 314임을 확인할 수 있다.

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,GROUP
0,A00,PRODUCT34,201401,661.0,661.0,2014,1,520.000000,275.961538
1,A00,PRODUCT34,201402,679.0,679.0,2014,2,514.444444,275.961538
2,A00,PRODUCT34,201403,578.0,578.0,2014,3,516.800000,275.961538
3,A00,PRODUCT34,201404,532.0,532.0,2014,4,503.363636,275.961538
4,A00,PRODUCT34,201405,516.0,516.0,2014,5,490.750000,275.961538
157,A00,PRODUCT58,201401,0.0,0.0,2014,1,12.600000,NaN
158,A00,PRODUCT58,201402,0.0,0.0,2014,2,11.666667,NaN
159,A00,PRODUCT58,201403,0.0,0.0,2014,3,11.066667,NaN
160,A00,PRODUCT58,201404,0.0,0.0,2014,4,9.933333,NaN
161,A00,PRODUCT58,201405,0.0,0.0,2014,5,8.666667,NaN
314,A00,PRODUCT59,201401,9988.0,9988.0,2014,1,6299.933333,NaN
315,A00,PRODUCT59,201402,9005.0,9005.0,2014,2,7296.333333,NaN
316,A00,PRODUCT59,201403,8416.0,8416.0,2014,3,8346.600000,NaN
317,A00,PRODUCT59,201404,8553.0,8553.0,2014,4,9418.600000,NaN
318,A00,PRODUCT59,201405,10355.0,10355.0,2014,5,10564.200000,NaN
471,A01,PRODUCT1,201401,14115.0,14115.0,2014,1,17611.866667,NaN
472,A01,PRODUCT1,201402,9169.0,9169.0,2014,2,16993.933333,NaN
473,A01,PRODUCT1,201403,21350.0,21350.0,2014,3,16221.133333,NaN
474,A01,PRODUCT1,201404,9457.0,9457.0,2014,4,15521.666667,NaN
475,A01,PRODUCT1,201405,10254.0,10254.0,2014,5,14502.333333,NaN
628,A01,PRODUCT12,201401,139564.0,139564.0,2014,1,74956.400000,NaN
629,A01,PRODUCT12,201402,109173.0,109173.0,2014,2,84771.266667,NaN
630,A01,PRODUCT12,201403,119281.0,119281.0,2014,3,94422.666667,NaN
631,A01,PRODUCT12,201404,139609.0,139609.0,2014,4,103205.733333,NaN
632,A01,PRODUCT12,201405,167828.0,167828.0,2014,5,111885.333333,NaN
785,A01,PRODUCT14,201401,9844.0,9844.0,2014,1,272854.933333,NaN
786,A01,PRODUCT14,201402,6363.0,6363.0,2014,2,243988.733333,NaN
787,A01,PRODUCT14,201403,8022.0,8022.0,2014,3,133727.400000,NaN
788,A01,PRODUCT14,201404,7562.0,7562.0,2014,4,86875.466667,NaN
789,A01,PRODUCT14,201405,6035.0,6035.0,2014,5,68844.800000,NaN
...,...,...,...,...,...,...,...,...,...
123716,A69,PRODUCT59,201401,697.0,697.0,2014,1,276.266667,NaN
123717,A69,PRODUCT59,201402,559.0,559.0,2014,2,333.800000,NaN
123718,A69,PRODUCT59,201403,423.0,423.0,2014,3,391.866667,NaN
123719,A69,PRODUCT59,201404,386.0,386.0,2014,4,459.800000,NaN
123720,A69,PRODUCT59,201405,311.0,311.0,2014,5,519.800000,NaN
123873,A70,PRODUCT34,201401,66.0,66.0,2014,1,6655.066667,NaN
123874,A70,PRODUCT34,201402,84.0,84.0,2014,2,5543.800000,NaN
123875,A70,PRODUCT34,201403,67.0,67.0,2014,3,4580.733333,NaN
123876,A70,PRODUCT34,201404,60.0,60.0,2014,4,3664.666667,NaN
123877,A70,PRODUCT34,201405,46.0,46.0,2014,5,2977.400000,NaN
124030,A70,PRODUCT58,201401,0.0,0.0,2014,1,951.600000,NaN
124031,A70,PRODUCT58,201402,0.0,0.0,2014,2,785.600000,NaN
124032,A70,PRODUCT58,201403,0.0,0.0,2014,3,660.400000,NaN
124033,A70,PRODUCT58,201404,0.0,0.0,2014,4,545.800000,NaN
124034,A70,PRODUCT58,201405,0.0,0.0,2014,5,369.466667,NaN
124187,A70,PRODUCT59,201401,341.0,341.0,2014,1,194.466667,NaN
124188,A70,PRODUCT59,201402,334.0,334.0,2014,2,203.400000,NaN
124189,A70,PRODUCT59,201403,298.0,298.0,2014,3,208.733333,NaN
124190,A70,PRODUCT59,201404,309.0,309.0,2014,4,251.466667,NaN
124191,A70,PRODUCT59,201405,351.0,351.0,2014,5,377.600000,NaN
124344,A77,PRODUCT1,201401,3580.0,3580.0,2014,1,41473.400000,NaN
124345,A77,PRODUCT1,201402,2465.0,2465.0,2014,2,36635.866667,NaN
124346,A77,PRODUCT1,201403,2205.0,2205.0,2014,3,31321.733333,NaN
124347,A77,PRODUCT1,201404,1623.0,1623.0,2014,4,26762.733333,NaN
124348,A77,PRODUCT1,201405,1482.0,1482.0,2014,5,21258.000000,NaN
124501,A77,PRODUCT12,201401,3821.0,3821.0,2014,1,3042.800000,NaN
124502,A77,PRODUCT12,201402,2466.0,2466.0,2014,2,3015.400000,NaN
124503,A77,PRODUCT12,201403,2401.0,2401.0,2014,3,2956.600000,NaN
124504,A77,PRODUCT12,201404,2628.0,2628.0,2014,4,2924.800000,NaN
124505,A77,PRODUCT12,201405,1442.0,1442.0,2014,5,2755.200000,NaN

In [128]:
oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])
#oneGroup에 그룹바이한 groupDataSet의 0번째 그룹을 가지고 온다("get_group(list(groupDataSet.groups)[0])")

In [129]:
len(list(groupDataSet.groups))
#그룹바이한 그룹들의 갯수

794

In [130]:
oneGroup
#그룹바이한 그룹들 중 0번째 그룹. 마지막 숫자가 156임을 확인할 수 있다.

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,GROUP
0,A00,PRODUCT34,201401,661.0,661.0,2014,1,520.000000,275.961538
1,A00,PRODUCT34,201402,679.0,679.0,2014,2,514.444444,275.961538
2,A00,PRODUCT34,201403,578.0,578.0,2014,3,516.800000,275.961538
3,A00,PRODUCT34,201404,532.0,532.0,2014,4,503.363636,275.961538
4,A00,PRODUCT34,201405,516.0,516.0,2014,5,490.750000,275.961538
5,A00,PRODUCT34,201406,423.0,423.0,2014,6,480.230769,275.961538
6,A00,PRODUCT34,201407,407.0,407.0,2014,7,468.214286,275.961538
7,A00,PRODUCT34,201408,364.0,364.0,2014,8,456.666667,275.961538
8,A00,PRODUCT34,201409,470.0,470.0,2014,9,431.533333,275.961538
9,A00,PRODUCT34,201410,538.0,538.0,2014,10,402.066667,275.961538
10,A00,PRODUCT34,201411,369.0,369.0,2014,11,375.533333,275.961538
11,A00,PRODUCT34,201412,352.0,352.0,2014,12,350.800000,275.961538
12,A00,PRODUCT34,201413,354.0,354.0,2014,13,325.733333,275.961538
13,A00,PRODUCT34,201414,312.0,312.0,2014,14,305.266667,275.961538
14,A00,PRODUCT34,201415,295.0,295.0,2014,15,284.666667,275.961538
15,A00,PRODUCT34,201416,284.0,284.0,2014,16,265.933333,275.961538
16,A00,PRODUCT34,201417,237.0,237.0,2014,17,239.333333,275.961538
17,A00,PRODUCT34,201418,180.0,180.0,2014,18,207.800000,275.961538
18,A00,PRODUCT34,201419,161.0,161.0,2014,19,187.200000,275.961538
19,A00,PRODUCT34,201420,140.0,140.0,2014,20,169.200000,275.961538
20,A00,PRODUCT34,201421,116.0,116.0,2014,21,155.666667,275.961538
21,A00,PRODUCT34,201422,98.0,98.0,2014,22,153.133333,275.961538
22,A00,PRODUCT34,201423,83.0,83.0,2014,23,168.933333,275.961538
23,A00,PRODUCT34,201424,71.0,71.0,2014,24,179.933333,275.961538
24,A00,PRODUCT34,201425,65.0,65.0,2014,25,193.000000,275.961538
25,A00,PRODUCT34,201426,60.0,60.0,2014,26,205.266667,275.961538
26,A00,PRODUCT34,201427,82.0,82.0,2014,27,217.600000,275.961538
27,A00,PRODUCT34,201428,151.0,151.0,2014,28,229.066667,275.961538
28,A00,PRODUCT34,201429,274.0,274.0,2014,29,237.600000,275.961538
29,A00,PRODUCT34,201430,532.0,532.0,2014,30,246.200000,275.961538
...,...,...,...,...,...,...,...,...,...
127,A00,PRODUCT34,201623,7.0,7.0,2016,23,34.600000,36.576923
128,A00,PRODUCT34,201624,7.0,7.0,2016,24,34.533333,36.576923
129,A00,PRODUCT34,201625,5.0,5.0,2016,25,39.733333,36.576923
130,A00,PRODUCT34,201626,7.0,7.0,2016,26,39.200000,36.576923
131,A00,PRODUCT34,201627,3.0,3.0,2016,27,39.333333,36.576923
132,A00,PRODUCT34,201628,19.0,19.0,2016,28,39.066667,36.576923
133,A00,PRODUCT34,201629,419.0,419.0,2016,29,38.800000,36.576923
134,A00,PRODUCT34,201630,6.0,6.0,2016,30,38.866667,36.576923
135,A00,PRODUCT34,201631,7.0,7.0,2016,31,45.133333,36.576923
136,A00,PRODUCT34,201632,82.0,82.0,2016,32,82.066667,36.576923
137,A00,PRODUCT34,201633,2.0,2.0,2016,33,82.866667,36.576923
138,A00,PRODUCT34,201634,8.0,8.0,2016,34,87.400000,36.576923
139,A00,PRODUCT34,201635,4.0,4.0,2016,35,87.866667,36.576923
140,A00,PRODUCT34,201636,2.0,2.0,2016,36,87.333333,36.576923
141,A00,PRODUCT34,201637,5.0,5.0,2016,37,60.400000,36.576923
142,A00,PRODUCT34,201638,101.0,101.0,2016,38,61.200000,36.576923
143,A00,PRODUCT34,201639,561.0,561.0,2016,39,61.666667,36.576923
144,A00,PRODUCT34,201640,17.0,17.0,2016,40,56.800000,36.576923
145,A00,PRODUCT34,201641,75.0,75.0,2016,41,57.800000,36.576923
146,A00,PRODUCT34,201642,10.0,10.0,2016,42,58.533333,36.576923
147,A00,PRODUCT34,201643,11.0,11.0,2016,43,60.600000,36.576923
148,A00,PRODUCT34,201644,15.0,15.0,2016,44,65.333333,36.576923
149,A00,PRODUCT34,201645,18.0,18.0,2016,45,66.466667,36.576923
150,A00,PRODUCT34,201646,14.0,14.0,2016,46,59.733333,36.576923
151,A00,PRODUCT34,201647,9.0,9.0,2016,47,22.333333,36.576923
152,A00,PRODUCT34,201648,17.0,17.0,2016,48,21.200000,36.576923
153,A00,PRODUCT34,201649,19.0,19.0,2016,49,16.200000,36.576923
154,A00,PRODUCT34,201650,35.0,35.0,2016,50,15.533333,36.576923
155,A00,PRODUCT34,201651,73.0,73.0,2016,51,14.800000,36.576923
156,A00,PRODUCT34,201652,22.0,22.0,2016,52,13.800000,36.576923

In [131]:
groupDataSet.get_group(list(groupDataSet.groups)[1])
#1번째 그룹. 157번째부터 시작하는 걸 확인할 수 있다.

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,GROUP
157,A00,PRODUCT58,201401,0.0,0.0,2014,1,12.600000,NaN
158,A00,PRODUCT58,201402,0.0,0.0,2014,2,11.666667,NaN
159,A00,PRODUCT58,201403,0.0,0.0,2014,3,11.066667,NaN
160,A00,PRODUCT58,201404,0.0,0.0,2014,4,9.933333,NaN
161,A00,PRODUCT58,201405,0.0,0.0,2014,5,8.666667,NaN
162,A00,PRODUCT58,201406,0.0,0.0,2014,6,6.333333,NaN
163,A00,PRODUCT58,201407,0.0,0.0,2014,7,1.466667,NaN
164,A00,PRODUCT58,201408,0.0,0.0,2014,8,0.000000,NaN
165,A00,PRODUCT58,201409,0.0,0.0,2014,9,0.000000,NaN
166,A00,PRODUCT58,201410,0.0,0.0,2014,10,0.000000,NaN
167,A00,PRODUCT58,201411,0.0,0.0,2014,11,0.000000,NaN
168,A00,PRODUCT58,201412,0.0,0.0,2014,12,0.333333,NaN
169,A00,PRODUCT58,201413,0.0,0.0,2014,13,0.533333,NaN
170,A00,PRODUCT58,201414,0.0,0.0,2014,14,1.600000,NaN
171,A00,PRODUCT58,201415,0.0,0.0,2014,15,2.133333,NaN
172,A00,PRODUCT58,201416,0.0,0.0,2014,16,2.866667,NaN
173,A00,PRODUCT58,201417,0.0,0.0,2014,17,3.800000,NaN
174,A00,PRODUCT58,201418,0.0,0.0,2014,18,4.666667,NaN
175,A00,PRODUCT58,201419,5.0,5.0,2014,19,4.933333,NaN
176,A00,PRODUCT58,201420,3.0,3.0,2014,20,5.333333,NaN
177,A00,PRODUCT58,201421,16.0,16.0,2014,21,5.733333,NaN
178,A00,PRODUCT58,201422,8.0,8.0,2014,22,6.333333,NaN
179,A00,PRODUCT58,201423,11.0,11.0,2014,23,6.400000,NaN
180,A00,PRODUCT58,201424,14.0,14.0,2014,24,6.533333,NaN
181,A00,PRODUCT58,201425,13.0,13.0,2014,25,6.533333,NaN
182,A00,PRODUCT58,201426,4.0,4.0,2014,26,6.666667,NaN
183,A00,PRODUCT58,201427,6.0,6.0,2014,27,6.466667,NaN
184,A00,PRODUCT58,201428,6.0,6.0,2014,28,6.400000,NaN
185,A00,PRODUCT58,201429,9.0,9.0,2014,29,5.466667,NaN
186,A00,PRODUCT58,201430,1.0,1.0,2014,30,5.133333,NaN
...,...,...,...,...,...,...,...,...,...
284,A00,PRODUCT58,201623,2501.0,2501.0,2016,23,766.866667,NaN
285,A00,PRODUCT58,201624,618.0,618.0,2016,24,753.400000,NaN
286,A00,PRODUCT58,201625,718.0,718.0,2016,25,751.333333,NaN
287,A00,PRODUCT58,201626,829.0,829.0,2016,26,713.266667,NaN
288,A00,PRODUCT58,201627,561.0,561.0,2016,27,662.733333,NaN
289,A00,PRODUCT58,201628,608.0,608.0,2016,28,632.133333,NaN
290,A00,PRODUCT58,201629,527.0,527.0,2016,29,616.600000,NaN
291,A00,PRODUCT58,201630,447.0,447.0,2016,30,583.000000,NaN
292,A00,PRODUCT58,201631,361.0,361.0,2016,31,428.733333,NaN
293,A00,PRODUCT58,201632,334.0,334.0,2016,32,398.200000,NaN
294,A00,PRODUCT58,201633,368.0,368.0,2016,33,359.866667,NaN
295,A00,PRODUCT58,201634,256.0,256.0,2016,34,313.266667,NaN
296,A00,PRODUCT58,201635,235.0,235.0,2016,35,285.333333,NaN
297,A00,PRODUCT58,201636,234.0,234.0,2016,36,255.133333,NaN
298,A00,PRODUCT58,201637,148.0,148.0,2016,37,234.200000,NaN
299,A00,PRODUCT58,201638,187.0,187.0,2016,38,212.800000,NaN
300,A00,PRODUCT58,201639,160.0,160.0,2016,39,195.466667,NaN
301,A00,PRODUCT58,201640,143.0,143.0,2016,40,182.600000,NaN
302,A00,PRODUCT58,201641,130.0,130.0,2016,41,169.733333,NaN
303,A00,PRODUCT58,201642,142.0,142.0,2016,42,163.000000,NaN
304,A00,PRODUCT58,201643,155.0,155.0,2016,43,154.266667,NaN
305,A00,PRODUCT58,201644,213.0,213.0,2016,44,140.466667,NaN
306,A00,PRODUCT58,201645,126.0,126.0,2016,45,131.866667,NaN
307,A00,PRODUCT58,201646,101.0,101.0,2016,46,785.266667,NaN
308,A00,PRODUCT58,201647,141.0,141.0,2016,47,1374.933333,NaN
309,A00,PRODUCT58,201648,175.0,175.0,2016,48,1926.466667,NaN
310,A00,PRODUCT58,201649,155.0,155.0,2016,49,2488.000000,NaN
311,A00,PRODUCT58,201650,104.0,104.0,2016,50,3168.866667,NaN
312,A00,PRODUCT58,201651,27.0,27.0,2016,51,4078.466667,NaN
313,A00,PRODUCT58,201652,19.0,19.0,2016,52,5217.066667,NaN

In [142]:
def groupRolling(groundDataset):
#     groupkey = ["REGIONID", "PRODUCT"]
#     groupDataSet = oneGroup.groupby(groupkey)
    
    indexGroupData = groundDataset.reset_index(drop=True)
    indexGroupData["MA2"] = indexGroupData["QTY_NEW"].rolling(window = 5, center = True).mean()
    
    return indexGroupData

In [135]:
indexGroupData = oneGroup.reset_index(drop=True)
indexGroupData["MA2"] = indexGroupData["QTY_NEW"].rolling(window = 5, center = True).mean()
indexGroupData.head()

,REGIONID,PRODUCT,YEARWEEK,QTY,QTY_NEW,YEAR,WEEK,MA,GROUP,MA2
0,A00,PRODUCT34,201401,661.0,661.0,2014,1,520.000000,275.961538,NaN
1,A00,PRODUCT34,201402,679.0,679.0,2014,2,514.444444,275.961538,NaN
2,A00,PRODUCT34,201403,578.0,578.0,2014,3,516.800000,275.961538,593.2
3,A00,PRODUCT34,201404,532.0,532.0,2014,4,503.363636,275.961538,545.6
4,A00,PRODUCT34,201405,516.0,516.0,2014,5,490.750000,275.961538,491.2

In [143]:
oneGroup.apply(groupRolling)

KeyError: ('QTY_NEW', 'occurred at index REGIONID')