In [1]:
import pandas as pd

In [2]:
customerData = pd.read_csv('../dataset/customerdata.csv')

In [3]:
customerData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

In [4]:
kopo_customer = pd.read_csv('../dataset/kopo_customerdata.csv')

In [5]:
kopo_customer.dtypes

CUSTOMERCODE      int64
STATENAME        object
ST                int64
GENDER           object
DOB               int64
GENDER1           int64
EMAIL             int64
FEST_CNT          int64
TOTAL_AMOUNT      int64
AC_AMOUNT         int64
AV_AMOUNT         int64
HA_AMOUNT         int64
EMI_CE_AMOUNT     int64
IS_HIGHEND        int64
CNT_VIST          int64
GAP_VISIT         int64
dtype: object

In [15]:
targetGender = 'Male'

In [16]:
targetGender = targetGender.upper()

In [6]:
kopo_customer2 = kopo_customer[(kopo_customer.GENDER == 'MALE') & (kopo_customer.EMAIL > 0)]

In [7]:
kopo_customer.head(100)

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0
6,734198,State2,2,Female,0,2,0,0,19900,0,0,19900,0,0,1,0
7,1443485,State2,2,Female,0,2,0,0,14800,0,0,14800,0,0,1,0
8,2340520,State2,2,Male,0,1,0,1,24400,0,0,24400,0,0,1,0
9,697949,State2,2,Male,0,1,0,1,30400,0,0,30400,0,0,1,0
10,385031,State2,2,Male,0,1,0,1,30300,0,0,30300,0,0,1,0
11,1944258,State2,2,Female,0,2,0,0,34300,0,18000,16300,0,0,1,0
12,2029521,State2,2,Female,0,2,0,0,14900,0,0,14900,0,0,1,0
13,1429192,State2,2,Male,0,1,0,0,16300,0,0,16300,0,0,1,0
14,892851,State2,2,Male,0,1,0,1,25000,0,0,25000,0,0,1,0
15,1554976,State2,2,Male,0,1,0,2,27500,0,0,27500,0,0,2,69
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
17,816582,State2,2,Male,0,1,0,1,40200,0,40200,0,0,0,2,940
18,675948,State2,2,Female,0,2,0,1,74600,0,0,74600,0,0,1,0
19,965940,State2,2,Male,0,1,0,0,42700,42700,0,0,0,0,1,0
20,2636314,State2,2,Male,0,1,0,0,14900,0,14900,0,0,0,1,0
21,577344,State2,2,Female,0,2,0,0,58700,0,24500,34200,0,0,2,21
22,910781,State2,2,Male,0,1,0,1,16000,0,16000,0,0,0,1,0
23,541107,State2,2,Female,0,2,0,1,17800,0,0,17800,0,0,1,0
24,1860112,State2,2,Male,0,1,0,0,26800,0,0,26800,0,0,1,0
25,1016762,State2,2,Male,1,1,0,1,14000,0,0,14000,0,0,1,0
26,2029821,State2,2,Male,0,1,0,0,31800,0,0,31800,0,0,1,0
27,765206,State2,2,Male,0,1,0,0,16000,0,0,16000,0,0,1,0
28,2174694,State2,2,Male,0,1,0,1,37600,0,0,37600,0,0,1,0
29,1196869,State2,2,Female,0,2,0,1,32800,0,16700,16100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,1268985,State2,2,Male,0,1,0,1,12800,0,12800,0,0,0,1,0
71,368001,State2,2,Male,0,1,0,1,15500,0,15500,0,0,0,1,0
72,1574773,State2,2,Female,0,2,0,1,21400,0,0,21400,0,0,1,0
73,819884,State2,2,Male,0,1,0,0,15300,0,0,15300,0,0,1,0
74,2539899,State2,2,Male,0,1,0,0,36000,0,36000,0,0,0,1,0
75,925771,State2,2,Male,0,1,0,1,49000,0,49000,0,0,0,1,0
76,1398573,State2,2,Male,0,1,0,0,35800,0,0,35800,0,0,1,0
77,818737,State2,2,Male,0,1,0,0,16900,0,16900,0,0,0,1,0
78,552254,State2,2,Male,0,1,0,0,43000,0,43000,0,0,0,1,0
79,414062,State2,2,Male,0,1,0,1,28200,0,0,28200,0,0,1,0
80,1938054,State2,2,Male,0,1,0,0,45100,45100,0,0,0,0,1,0
81,393246,State2,2,Male,0,1,1,1,18200,0,0,18200,0,0,1,0
82,2427917,State2,2,Male,0,1,0,1,20600,0,0,20600,0,0,1,0
83,359257,State2,2,Female,0,2,0,1,23900,0,0,23900,0,0,1,0
84,1033160,State2,2,Female,0,2,0,1,14500,0,0,14500,0,0,1,0
85,1161908,State2,2,Female,0,2,0,1,70000,0,70000,0,0,0,1,0
86,499311,State2,2,Male,0,1,0,1,15800,0,15800,0,0,0,1,0
87,958331,State2,2,Male,0,1,0,1,6600,0,0,6600,0,0,1,0
88,576063,State2,2,Male,0,1,0,0,40500,0,40500,0,0,0,1,0
89,788503,State2,2,Male,0,1,0,0,17000,0,0,17000,0,0,1,0
90,1656858,State2,2,Male,0,1,0,1,43800,0,0,43800,0,0,1,0
91,613443,State2,2,Male,0,1,0,0,146800,0,146800,0,0,0,1,0
92,1958692,State2,2,Male,0,1,0,0,86900,0,43600,43300,0,0,1,0
93,2546530,State2,2,Male,0,1,0,0,19200,0,0,19200,0,0,1,0
94,553492,State2,2,Female,0,2,0,0,17100,0,0,17100,0,0,1,0
95,2533491,State2,2,Male,0,1,0,0,18800,0,0,18800,0,0,1,0
96,2591948,State2,2,Male,0,1,0,0,24700,0,0,24700,0,0,1,0
97,720302,State2,2,Male,0,1,0,1,17500,0,2900,14600,0,0,2,482
98,2307604,State2,2,Male,0,1,0,1,25100,0,0,25100,0,0,1,0
99,1296969,State2,2,Male,0,1,0,1,19000,0,0,19000,0,0,1,0

In [8]:
lowstr = "sss"

In [9]:
lowstr.upper()

'SSS'

In [18]:
kopoVolume = pd.read_csv('../dataset/kopo_product_volume.csv')

In [19]:
kopoVolume.dtypes

REGIONID        object
PRODUCTGROUP    object
YEARWEEK         int64
VOLUME           int64
dtype: object

In [29]:
kopoVolume[(kopoVolume.PRODUCTGROUP == 'ST0002') & (kopoVolume.VOLUME > 300000)]

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
80       A01       ST0002    201452   422468
86       A01       ST0002    201451   356271
90       A01       ST0002    201449   669711
94       A01       ST0002    201447   378339
102      A01       ST0002    201448  1400339
196      A01       ST0002    201552   422468
208      A01       ST0002    201551   356271
212      A01       ST0002    201549   669711
216      A01       ST0002    201547   378339
224      A01       ST0002    201548  1400339